.imgtable{      
    padding: 0;
    width: 300px;   
    float: left; 
}

.imgtable td a{
    margin: 0;
    padding: 0;
    display: inline-block;
}

.imgtable td:nth-child(3), .imgtable th:nth-child(3) {  
    display: none;
}

.thumb{
    width: 64px;
    height: auto;
    float: left;
    border: 1px solid #d0d5dc;
    padding: 3px;
    border-radius: 3px;
}

#preview{
    width: calc(100% - 330px);
    height: calc(100vh - 70px);       
    position: relative;
    z-index: 1;  
    float: right;
}

#preview img{ 
    border: 1px solid #d0d5dc;
    padding: 5px;
    border-radius: 5px;
    display: none;
    width: calc(100% - 20px);
    height: calc(100% - 20px); 
    object-fit: contain;
    margin-left: 5px;
}

#prev-blank{
    display: none;
    border: 1px solid #d0d5dc;
    padding: 5px;
    border-radius: 5px;
    height: 120px;
    width: 120px;
    font-size: 100px;
    color: #d0d5dc;
    margin: calc(50vh - 90px) auto;
}

.selected{
    background: #d0d5dc;
}

@media only screen and (max-width: 800px){
    .imgtable{        
        width: calc(100% - 30px); 
    }

    #preview{
        width: 100%; 
        float: left;         
    }
}