[Unit]
Description=LCD service to display IP and external address

[Service]
Type=simple
Restart=always
RestartSec=10
RemainAfterExit=yes
ExecStart=/opt/bnfs/LCD_Driver.py

[Install]
WantedBy=multi-user.target

